{% extends 'index.html' %}
{% block subtitle %}Access Key{% endblock %}

{% block content %}
<h2>Private access key</h2>
<hr>
<div class="row">
  <div class="form-group col-md-12">
    <p class="text-muted">This access key help authorize you when using the Data Access API.</p>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-12">
    <form method="POST" action="{{ url_for('home.access_key') }}" role="form">
      {{ form.csrf_token }}
      <div class="form-group">{{ form.access_key.label }}:
        <div class="input-group">
          {{ form.access_key(readonly='true', class='form-control', id='access-key') }}
          <div class="input-group-append">
            <button type="button" class="btn btn-default" data-clipboard-target="#access-key"
              title="Copy to clipboard" data-toggle="tooltip"><span class="fa fa-copy"></span></button>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-info">Regenerate</button>
    </form>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/clipboard-2.0.4.min.js') }}"></script>
<script>
  new ClipboardJS('.btn[data-clipboard-target]')
</script>
{% endblock %}
