{% extends 'index.html' %}
{% block subtitle %}API Documentation{% endblock %}

{% block header %}
<link href="{{ url_for('static', filename='css/code.css') }}?{{ config['VERSION'] }}" rel="stylesheet">
{% endblock %}

{% block content %}
<h2>API Documentation</h2>
<hr>

<div class="row mb-3">
  <div class="form-group col-md-12">
    <p class="text-muted">This documentation covers what are methods for Data retrieval using this service.</p>
    <p class="text-danger">Important! Always limit your queries using date ranges and/or other partitions to avoid 
    overloading Spark cluster and exploding your process memory.</p>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-12">
    <p class="lead">Python API</p>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-12">
    <p class="text-muted">
    First, make sure to set `DA_KEY` and `DA_URI` environment variables to your private access key and to the DataPlate Portal URI respectively. For instance, you add the following line to your <code>~/.profile</code> file:
    </p>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-12">
{% highlight 'bash' %}
export DA_KEY="{{ current_user.access_key }}"
export DA_URI="http://{{ request.host }}{{ ':' + request.port if request.port else '' }}"
{% endhighlight %}
  </div>
</div>

<div class="row">
  <div class="form-group col-md-12">
    <p class="text-muted">Then, install the Python API library:</p>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-12">
{% highlight 'bash' %}
pip install \
--extra-index-url https://artifactory.in.dataplate.com/artifactory/api/pypi/dataplate-pypi/simple \
dataplate-dataaccess
{% endhighlight %}
  </div>
</div>

<div class="row">
  <div class="form-group col-md-12">
    <p class="text-muted">This example shows how to run a query, and return results as Pandas DataFrame object:</p>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-12">
{% highlight 'python' %}
from dataaccess.client import DataAccess

dataAccess = DataAccess()
df = dataAccess.query_to_df('''
SELECT * FROM myTAble WHERE `date`='20200218' AND hour=12
''')
{% endhighlight %}
  </div>
</div>

<div class="row">
  <div class="form-group col-md-12">
    <p class="text-muted">DataAccess() constructor accepts the following parameters:</p>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-12">
    <ul>
      <li><b>env</b> - Environment to retrieve the Data from ('dev' or 'prd').</li>
      <li><b>access_key</b> - Alternative method for supplying your access key.</li>
      <li><b>dataplate_ur</b> - Alternative method for supplying DataPlate Portal URI.</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-12">
    <p class="text-muted">query_to_df() method accepts the following parameters:</p>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-12">
    <ul>
      <li><b>query</b> - SQL query supported by Apache Spark.</li>
      <li><b>refresh</b> - Avoid reusing cached data if such query was run already.</li>
      <li><b>**kwargs</b> - Arbitrary arguments to pass to <a href="http://pandas.pydata.org/pandas-docs/stable/reference/frame.html#constructor">pandas.Dataframe</a> constructor.</li>
    </ul>
  </div>
</div>

<div class="row mt-5">
  <div class="form-group col-md-12">
    <p class="lead">REST API</p>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-12">
    <p class="text-muted">
    REST API is provided for advanced usage only (or for understanding what happens behind the scenes). Given the following
    SQL chunk is saved in file called 'query.sql':
    </p>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-12">
{% highlight 'sql' %}
SELECT * FROM myTAble WHERE `date`='20200218' AND hour=12
{% endhighlight %}
  </div>
</div>

<div class="row">
  <div class="form-group col-md-12">
    <p class="text-muted">
    The following cURL command describes how to send the query using REST API:
    </p>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-12">
{% highlight 'bash' %}
curl -X POST \
-H "X-Access-Key: {{ current_user.access_key }}" \
-H "Content-Type: text/plain" \
--data-binary @query.sql http://{{ request.host }}{{ ':' + request.port if request.port else '' }}/api/query > results.json.gz
{% endhighlight %}
  </div>
</div>
{% endblock %}
