<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block subtitle %}Home{% endblock %} | Data Access Portal</title>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PWPPW9V');</script>
    <!-- End Google Tag Manager -->
    <link href="{{ url_for('static', filename='css/bootstrap-4.1.3.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/fontawesome-5.14.0.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main.css') }}?{{ config['VERSION'] }}" rel="stylesheet">
    {% block header %}{% endblock %}
    <link rel="shortcut icon" href="{{ url_for('static', filename = 'img/favicon.ico') }}"
     type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename = 'img/favicon.ico') }}"
     type="image/x-icon">
  </head>
  <body>
    {% block body %}{% endblock %}
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PWPPW9V"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper-1.14.7.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-4.1.3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap3-typeahead.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}?{{ config['VERSION'] }}"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
