{% extends 'index.html' %}
{% block subtitle %}Dashboard{% endblock %}

{% block header %}
<link href="{{ url_for('static', filename='css/tempusdominus-5.0.1.min.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    {{ super() }}
    <div class="row">
    {% block app_content %}
         <!-- div class="embed-responsive" style="min-height: {% if min_height is defined %}{{ min_height }}{% else %}800{% endif %}px" -->
             <iframe
                     src={{ dash_url }}
                     style="overflow-x: hidden; overflow-y: visible; overflow-x: hidden; position: absolute; width: 80%; height: 100%; background: transparent"
            ></iframe>
        <!-- /div -->
    {% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}