{% extends 'index.html' %}
{% block subtitle %}{{ 'Edit' if id else 'New' }} Query{% endblock %}

{% block content %}
<h2>{% if id %}Edit <i>{{ form.name.data }}</i> query{% else %}Add new query{% endif %}</h2>
<hr>

<div class="row">
  <div class="form-group col-md-12">
    {% include 'messages.html' %}
  </div>
</div>

<div class="row">
  <div class="form-group col-md-12">
    <form
        method="POST"
        action="{% if id %}{{ url_for('admin.edit_query', id=id) }}{% else %}{{ url_for('admin.edit_query') }}{% endif %}"
        role="form">
      {{ form.csrf_token }}
      <div class="form-group">{{ form.name.label }}: {{ form.name(class='form-control') }}</div>
      <div class="form-group">{{ form.description.label }}: {{ form.description(class='form-control') }}</div>
      <div class="form-group">{{ form.sql.label }}: {{ form.sql(rows=7, class='form-control') }}</div>
      <p class="text-muted small">Dynamic parameters can be specified as ${PARAM}</p>
      <button type="submit" class="btn btn-info">Save</button>
    </form>
  </div>
</div>
{% endblock %}
