{% extends 'index.html' %}
{% block subtitle %}{{ 'Edit' if id else 'New' }} Query{% endblock %}

{% block content %}
  <div class="row mb-3">
    <p class="mark text-muted">{% if id %}Edit {{ form.name.data }}{% else %}Add new{% endif %} query</p>
  </div>

  <div class="row mb-3">
    <div class="card border-light col-md-6">
      <div class="card-body">
        <form
            method="POST"
            action="{% if id %}{{ url_for('admin.edit_query', id=id) }}{% else %}{{ url_for('admin.edit_query') }}{% endif %}"
            role="form">
          {{ form.csrf_token }}
          <div class="form-group">{{ form.name.label }}: {{ form.name(class='form-control form-control-sm') }}</div>
          <div class="form-group">{{ form.description.label }}: {{ form.description(class='form-control form-control-sm') }}</div>
          <div class="form-group">{{ form.sql.label }}: {{ form.sql(rows=7, class='form-control form-control-sm') }}</div>
          <p class="text-muted small">Dynamic parameters can be specified as ${PARAM}</p>
          <button type="submit" class="btn btn-primary btn-sm">save</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
