{% extends 'index.html' %}
{% block subtitle %}Configuration{% endblock %}

{% block content %}
<h2>Current session</h2>
<hr>

<div class="row">
  <div class="form-group col-md-12">
    <p class="text-muted">Edit system configuration</p>
    {% include 'messages.html' %}
  </div>
</div>

<div class="row mb-3">
  <div class="form-group col-md-12">
    <form method="POST" action="{{ url_for('admin.edit_config') }}" role="form">
      {{ form.csrf_token }}
      <div class="form-group">{{ form.livy_url.label }}: {{ form.livy_url(class='form-control') }}</div>
      <div class="form-group">{{ form.session_wait_timeout.label }}: {{ form.session_wait_timeout(class='form-control') }}</div>
      <div class="form-group">{{ form.statement_wait_timeout.label }}: {{ form.statement_wait_timeout(class='form-control') }}</div>
      <div class="form-group">{{ form.session_name.label }}: {{ form.session_name(class='form-control') }}</div>
      <div class="form-group">{{ form.driver_memory_mb.label }}: {{ form.driver_memory_mb(class='form-control') }}</div>
      <div class="form-group">{{ form.spark_conf.label }}: {{ form.spark_conf(class='form-control') }}</div>
      <button type="submit" class="btn btn-info">Update</button>
    </form>
  </div>
</div>
{% endblock %}
