{% extends 'index.html' %}
{% block subtitle %}{{ 'Edit' if id else 'New' }} Service Account{% endblock %}

{% block content %}
  <div class="row mb-3">
    <p class="mark text-muted">{% if id %}Edit {{ form.username.data }}{% else %}Add new{% endif %} service account</p>
  </div>
  <div class="row mb-3">
    <p class="text-muted">Service account allows using Data Access API from within non-interactive process.</p>
  </div>

  <div class="row mb-3">
    <div class="card border-light col-md-6">
      <div class="card-body">
        <form
            method="POST"
            action="{% if id %}{{ url_for('admin.edit_service', id=id) }}{% else %}{{ url_for('admin.edit_service') }}{% endif %}"
            role="form">
          {{ form.csrf_token }}
          <div class="form-group">{{ form.username.label }}: {{ form.username(class='form-control form-control-sm') }}</div>
          <div class="form-group">{{ form.fullname.label }}: {{ form.fullname(class='form-control form-control-sm') }}</div>
          {% if id %}
          <div class="form-group">{{ form.access_key.label }}: <div class="input-group">
              {{ form.access_key(readonly='true', class='form-control form-control-sm', id='access-key') }}
              <div class="input-group-append">
                <button type="button" class="btn btn-default btn-sm" data-clipboard-target="#access-key"
                  title="Copy to clipboard" data-toggle="tooltip"><span class="fa fa-copy"></span></button>
              </div>
            </div>
          </div>
          <div class="form-group">{{ form.regenerate_key.label }}: {{ form.regenerate_key(class='form-control form-control-sm') }}</div>
          {% endif %}
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-sm">save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/clipboard-2.0.4.min.js') }}"></script>
<script>
  new ClipboardJS('.btn[data-clipboard-target]')
</script>
{% endblock %}
