{% extends 'index.html' %}

{% block header %}
<style>
body { background: #31353D; }
</style>
{% endblock %}
 
{% block body %}
<div class="container-flex">
  <div class="login-form card mx-auto mt-5" style="width:50rem;">
    <div class="card-body">
      <h2 class="card-title">Sign-in</h2>
      <p class="text-muted">Login with your LDAP/AD or DEMO credentials</p>
      {% include 'messages.html' %}
      <form method="POST" action="{{ url_for('home.login') }}" role="form">
        {{ form.csrf_token }}
        <div class="form-group">{{ form.username.label }}: {{ form.username(class="form-control") }}</div>
        <div class="form-group">{{ form.password.label }}: {{ form.password(class="form-control") }}</div>
        <button type="submit" class="btn btn-primary" onclick="dataLayer.push({'event': 'login','user': document.getElementById('username').value.split('@')[1]});">login</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
