{% extends 'index.html' %}
{% block subtitle %}Queries{% endblock %}

{% block content %}
  <div class="row mb-3">
    <p class="mark text-muted">Commonly used queries</p>
  </div>

  {% for query in queries %}
  <div class="row mb-3" data-id="{{ query.id }}">
    <div class="card col-md-8">
      <div class="card-body">
        <div class="card-title">{{ query.name }}</div>
        <div class="card-subtitle small text-dark">
          {{ query.description }}
          <div class="btn-group ml-2 text-info" role="group">
            <a href="{{ url_for('home.run_query', id=query.id) }}" class="btn btn-sm px-1" title="Run query" data-toggle="tooltip">
              <i class="fa fa-play-circle-o"></i></a>
            {% if current_user.has_roles('admin', 'query-builder') %}
              <a href="{{ url_for('admin.edit_query', id=query.id) }}" class="btn btn-sm px-1" title="Edit query" data-toggle="tooltip">
                <i class="fa fa-pencil"></i></a>
              <a href="{{ url_for('admin.delete_query', id=query.id) }}" class="btn btn-sm px-1" title="Delete query" data-toggle="tooltip">
                <i class="fa fa-trash-o"></i></a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}

  {% if current_user.has_roles('admin', 'query-builder') %}
  <div class="row mt-4">
    <a href="{{ url_for('admin.edit_query') }}">Add new query</a><br/>
  </div>
  {% endif %}

  <div class="modal fade" id="preview-dialog" tabindex="-1" role="dialog" aria-labelledby="preview-label"
    aria-hidden="true">
    <div class="modal-dialog small" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <p class="modal-title" id="preview-label"></p>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <pre id="preview-json"></pre>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
