{% extends 'index.html' %}
{% block subtitle %}Run Query{% endblock %}

{% block header %}
<link href="{{ url_for('static', filename='css/code.css') }}?{{ config['VERSION'] }}" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="row mb-3">
    <p class="mark text-muted">Run a query</p>
  </div>
  <div class="row mb-3">
    <div class="card border-light col-md-8">
      <div class="card-body">
        <div class="card-title">{{ query.name }}</div>
        <div class="card-subtitle small text-dark">{{ query.description }}</div>
        {% highlight 'sql' %}{{ query.sql }}{% endhighlight %}
        {% if parameters|length > 0 %}
          <p>Parameters:</p>
          {% for param in parameters: %}
          <div class="form-group">
            <label for="{{ param }}">{{ param }}: </label>
            <input name="{{ param }}" class="param form-control form-control-sm" />
          </div>
          {% endfor %}
        {% endif %}
        <div class="form-group">
          <label for="refresh">Refresh results: </label>
          <input class="form-control form-control-sm" name="refresh" type="checkbox" />
        </div>
        <p class="text-muted small">Query results will be downloaded as CSV file.</p>
        <div class="alert-container"></div>
        <button id="run-query" class="btn btn-primary btn-sm">
          <i class="fa fa-play"></i> execute
        </button>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script>
    const query_name = {{query.name|tojson}};
    const query_sql = {{query.sql|tojson}};
  </script>
  <script src="{{ url_for('static', filename='js/run_query.js') }}?{{ config['VERSION'] }}"></script>
  <script src="{{ url_for('static', filename='js/FileSaver.min.js') }}?{{ config['VERSION'] }}"></script>
{% endblock %}
