{% extends 'index.html' %}
{% block subtitle %}Service Accounts{% endblock %}

{% block content %}
<h2>Service accounts</h2>
<hr>

<div class="row">
  <div class="form-group col-md-12">
    <p class="text-muted">Service accounts are principal identities managed by the DataPlate, and they should used for automatic processes.</p>
    {% include 'messages.html' %}
  </div>
</div>

{% for user in users %}
<div class="row mb-3" data-id="{{ user.id }}">
  <div class="form-group col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="btn-group float-right" role="group">
          <a href="{{ url_for('admin.edit_service', id=user.id) }}" class="btn btn-light btn-sm"
            title="Edit service account" data-toggle="tooltip">
            <i class="far fa-edit"></i></a>
          <a href="{{ url_for('admin.delete_service', id=user.id) }}" class="btn btn-light btn-sm"
            title="Delete service account" data-toggle="tooltip">
            <i class="far fa-trash-alt"></i></a>
        </div>
        <h5 class="card-title">{{ user.username }}</h5>
        <div class="card-subtitle text-muted">{{ user.fullname }}</div>
      </div>
    </div>
  </div>
</div>
{% endfor %}

<div class="row mt-4">
  <div class="form-group col-md-12">
    <a class="btn btn-info" href="{{ url_for('admin.edit_service') }}">Add service account</a>
  </div>
</div>
{% endblock %}
