{% extends 'index.html' %}
{% block subtitle %}What is DataPlate{% endblock %}

{% block header %}
<link href="{{ url_for('static', filename='css/code.css') }}?{{ config['VERSION'] }}" rel="stylesheet">
{% endblock %}

{% block content %}
<h2>What is DataPlate ?</h2>
<hr>

<div class="row mb-3">
  <div class="form-group col-md-12">
    <h3>
    <p class="text-muted">Dataplate is a monitoring and security layer that enable data-scientists to do data exploration easier,</p>
    <p class="text-muted">while preserving safe data access to enable GDPR and avoid data breaches</p>
    </h3>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-12">
    <h4>
    <p><b>Benefits for Data-Scientists and Analysts</b></p>
    </h4>
  </div>
</div>

<div class="row mb-3">
  <div class="form-group col-md-12">
    <h5>
    <p class="text-muted">We enable a hybrid approach for data exploration - using both local notebooks and the scale of a remote Cloud computing</p>
    <ul>
      <li>Local notebooks - enable data scientist/analyst to use all kinds of libraries/model during the research</li>
      <li>Remote notebooks - enable data scientist/analyst to use Cloud resource to manipulate data in scale</li>
      <li><b>Dataplate Hybrid notebooks</b> - enable data scientist/analyst to use manipulate/normalize data using the Cloud and get the minimum results locally to test various algorithms</li>
    </ul>
    </h5>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-12">
    <h4>
    <p><b>Benefits for Security-Operations Engineers</b></p>
    </h4>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-12">
    <h5>
    <p class="text-muted">Managing data access is complicated! it requires to define different roles and policies in multiple platforms of data (e.g AWS accounts) and requires log monitoring</p>
      <p class="text-muted">DataPlate data access is simple! one place to monitor and define it all and using the same LDAP/ActiveDirectory users and groups of your organization</p>
    <p class="text-muted">Security Benefits:</p>
    <ul>
      <li>This security layer prevent browsing capabilities ,like s3 browser to list\view\delete\move files</li>
      <li>Access only to the relevant and needed data in a table-like formation</li>
      <li>High security control granularity, that comply to the given permission group</li>
      <li>Deep investigation capabilities in case of a data-breach</li>
    </ul>
    </h5>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-12">
    <h4>
    <p>Architecture</p>
    </h4>
  </div>
</div>


<div class="row">
  <div class="form-group col-md-12">
    <img class="img-responsive img-rounded" alt="DataPlate.io" src="{{ url_for('static', filename='img/DataplateArch_v2.png') }}">
  </div>
</div>


{% endblock %}
