Flask-Login==0.4.1
Flask-Migrate==2.3.1
Flask-SQLAlchemy==2.3.1
Flask-WTF==0.14.2
awscli==1.16.96
boto3==1.9.79
datadog==0.22.0
email-validator==1.1.1
flask-ldap3-login==0.9.16
jinja2-highlight==0.6.1
psycopg2==2.8.6
python-dateutil==2.8.0
requests==2.21.0
werkzeug==0.15.6
